#!/usr/bin/env python3
# -*- coding: UTF-8 -*-

from requests import post
from json import loads
from sys import argv, exit
from socket import gethostname

try:
    with open('/etc/ssh/sshauth.json') as handle:
        config = loads(handle.read())
except PermissionError:
    exit(0)

def get_pubkeys(user: str):
    data = {
        'user': user,
        'hostname': gethostname()
    }
    return post(
        config['url'],
        data=data,
        auth=(
            config['login'],
            config['password']
        ),
        verify=config['sslverify'],
    ).text.strip()

if __name__ == "__main__":
    if len(argv) < 2:
      exit(0)
    user = ' '.join(argv[1:])
    pubkeys = get_pubkeys(user)
    if len(pubkeys):
        print(pubkeys)
