{
    "url": "https://{{ ssh_config_sshauth_fqdn }}",
    "login": "{{ ssh_config_sshauth_login }}",
    "password": "{{ ssh_config_sshauth_passwd }}",
    "sslverify": {{ ssh_config_sshauth_sslverify }}
}
