# What ports, IPs and protocols we listen for
Port {{ ssh_config_ssh_port }}
# Use these options to restrict which interfaces/protocols sshd will bind to
{% for listen_address in ssh_config_listen_addresses %}
ListenAddress {{ listen_address }}
{% endfor %}
Protocol 2
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_ed25519_key
#Privilege Separation is turned on for security
{% if ansible_distribution == 'Ubuntu' and ansible_distribution_major_version|int < 18 %}
UsePrivilegeSeparation yes
{% endif %}

# Logging
SyslogFacility AUTH
LogLevel {{ ssh_config_log_level }}

# Authentication:
LoginGraceTime {{ ssh_config_login_grace_time }}
PermitRootLogin {{ ssh_config_permit_root_login }}
StrictModes yes

{% if ansible_distribution == 'Debian' and ansible_distribution_major_version|int <= 8 %}
#This option is deprecated since Debian 9
RSAAuthentication no
{% endif %}
PubkeyAuthentication yes
{% if ssh_config_authorized_keys_file %}
AuthorizedKeysFile {{ ssh_config_authorized_keys_file }}
{% endif %}
{% if ssh_config_authorized_keys_command %}
AuthorizedKeysCommand /etc/ssh/sshauth
AuthorizedKeysCommandUser nobody
{% endif %}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# For this to work you will also need host keys in /etc/ssh_known_hosts
{% if ansible_distribution == 'Debian' and ansible_distribution_major_version|int <= 8 %}
#This option is deprecated since Debian 9
RhostsRSAAuthentication no
{% endif %}
# similar for protocol version 2
HostbasedAuthentication no
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ ssh_config_challenge_response_authentication }}
{% if ssh_config_authentication_methods %}
AuthenticationMethods {{ ssh_config_authentication_methods }}
{% endif %}

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{ ssh_config_password_authentication }}

X11Forwarding {{ ssh_config_x11_forwarding }}
AllowTcpForwarding {{ ssh_config_allow_tcp_forwarding }}
{% if ansible_distribution == 'Debian' and ansible_distribution_major_version|int >= 8 %}
AllowStreamLocalForwarding {{ ssh_config_allow_stream_local_forwarding }}
{% endif %}
GatewayPorts {{ ssh_config_gateway_ports }}
PermitTunnel {{ ssh_config_permit_tunnel }}

PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

KexAlgorithms {{ ssh_config_kexalgorithm }}
Ciphers {{ ssh_config_ciphers }}
MACs {{ ssh_config_macs }}

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp internal-sftp

UsePAM yes
UseDNS no
{% if ssh_config_match_config %}
{{ ssh_config_match_config }}
{% endif %}
{% if ssh_config_allow_users_param %}

AllowUsers {{ ((ssh_config_pubkeys | map(attribute='user') | list) + ssh_config_allow_users_extras) | join(' ') }}
{% endif %}
