---
- import_tasks: totp.yml
  when: ssh_config_totp_enabled|bool

- import_tasks: sshauth.yml
  when: ssh_config_authorized_keys_command|bool

- import_tasks: sudo.yml

- import_tasks: users-groups.yml

- import_tasks: sftp-folders.yml

- name: Create /etc/ssh/keys folder
  file:
    dest: "/etc/ssh/keys"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Push public keys
  copy:
    dest: "{{ item.keyfile | default('/etc/ssh/keys/authorized_keys.' + item.user) }}"
    content: "{{ item.pubkey }}"
    mode: 0644
  with_items: "{{ ssh_config_pubkeys }}"
  tags: ssh-config-push-keys

- name: Check if ssh_host_ed25519_key SSH key exists
  stat:
    path: '/etc/ssh/ssh_host_ed25519_key'
  register: ed25519_key

- name: Create /etc/ssh/ssh_host_ed25519_key SSH key
  command: "ssh-keygen -t ed25519 -f /etc/ssh/ssh_host_ed25519_key -N ''"
  when: not ed25519_key.stat.exists|bool

- name: Secure /etc/ssh/moduli file
  shell: |
    awk '$5 > 3071' /etc/ssh/moduli > /etc/ssh/moduli.tmp
    mv /etc/ssh/moduli.tmp /etc/ssh/moduli
  changed_when: False

- name: Backup sshd_config file
  command: cp /etc/ssh/sshd_config /etc/ssh/sshd_config.backup
  changed_when: False

- name: Push sshd_config file
  template:
    src: "etc/ssh/sshd_config.j2"
    dest: "/etc/ssh/sshd_config"
    owner: "root"
    group: "root"
    mode: "0644"
  register: sshd_config
  notify:
    - restart ssh

- name: Check if SSH config is ok
  command: sshd -t
  register: ssh_check_config
  changed_when: False
  failed_when: False

- debug:
    msg: "{{ ssh_check_config }}"
  when: ssh_check_config.rc > 0

- name: Restore sshd_config file
  command: "{{ item }}"
  changed_when: False
  with_items:
    - cp /etc/ssh/sshd_config /etc/ssh/sshd_config.faulty
    - cp /etc/ssh/sshd_config.backup /etc/ssh/sshd_config
  when: ssh_check_config.rc > 0

- name: Check is ssh configuration has failed
  fail:
    msg: "Set SSH config has failed, sshd_config file has been restored"
  when: ssh_check_config.rc > 0
